<%- include('header', {title: 'SharePad - Terms', css: 'style', homeActive: '', termsActive: 'active', aboutActive: '', contactActive: ''}) %>
    <div class="contents">
        <h1>SharePad</h1>
        <h2>Terms and Conditions</h2>
        <p>Welcome to SharePad! SharePad is a simple online notepad that allows you to easily share and edit text with others. By using SharePad, you agree to the following terms and conditions:</p>
        <ol>
            <li>You may only use SharePad for lawful purposes and in compliance with all applicable laws and regulations.</li>
            <li>You must be at least 13 years old to use SharePad.</li>
            <li>You are solely responsible for any content you share using SharePad, and you agree not to share any content that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, invasive of another's privacy, or otherwise objectionable.</li>
            <li>You must not use SharePad to impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity.</li>
            <li>You agree not to use SharePad to upload or distribute any virus, malware, or other malicious software.</li>
            <li>You agree not to interfere with the security or proper functioning of SharePad, or attempt to access any part of SharePad that you are not authorized to access.</li>
            <li>You acknowledge that you are solely responsible for maintaining the confidentiality of your notepad's URL and password.</li>
            <li>You understand that anyone with the URL and password to your notepad can view and modify its contents, and you agree to share these only with trusted individuals.</li>
            <li>You agree that SharePad is provided "as is," and we make no guarantees or warranties as to its availability, reliability, or security. We reserve the right to suspend or terminate your access to SharePad at any time without notice, for any reason.</li>
            <li>You acknowledge that SharePad does not store any of your personal data. However, we may reset the server at any time, which will result in the permanent deletion of all notepads and content stored on SharePad. Therefore, you are solely responsible for maintaining your own backups of your notepad's contents.</li>
        </ol>
        <p>If you do not agree to these terms and conditions, you must not use SharePad.</p>
    </div>
<%- include('footer') %>