@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

html{
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(237, 120, 237);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

body{
    margin: 0;
}

nav{
    position: fixed;
    top: 2vh;
    right: 0;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

a{
    font-size: 17px;
    color: rgb(228, 228, 227);
    text-decoration: none;
}

a.active{
    color: black;
}

.content{
    width: 60vw;
    margin: 10vh 20vw 2vh;
}

.content .details{
    display: flex;
    justify-content: space-between;
}

.content span{
    color: rgb(228, 228, 227);
    font-style: italic;
}

#toolbar{
    width: 60vw;
    margin: 5vh 20vw 1vh;
    padding: 10px;
    background-color: rgb(228, 228, 227);
    border-radius: 5px;
}

#toolbar button{
    font-size: 14px;
    margin-right: 10px;
}

#toolbar select{
    font-size: 14px;
    margin-right: 10px;
}

section{
    width: 60vw;
    margin: 1vh 20vw 2vh;
}

#editor{
    width: 100%;
    margin-bottom: 2vh;
    height: 40vh;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    overflow: auto;
    background-color: rgb(228, 228, 227);
}

form button{
    font-size: 18px;
    background-color: rgb(228, 228, 227);
    color: rgb(237, 120, 237);
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(237, 120, 237);
    color: rgb(228, 228, 227);
}

footer{
    margin: 2vw 0;
    color: rgba(228, 228, 227, 0.8);
    text-align: center;
}

@media screen and (max-width: 900px){
    nav{
        width: 40vw;
    }

    .content{
        width: 70vw;
        margin: 10vh 15vw 2vh;
    }
    
    #toolbar{
        width: 70vw;
        margin: 5vh 15vw 1vh;
        padding: 10px;
        background-color: rgb(228, 228, 227);
        border-radius: 5px;
    }
    
    form{
        width: 70vw;
        margin: 1vh 15vw 2vh;
    }
}

@media screen and (max-width: 600px){
    nav{
        width: 60vw;
    }

    .content .details{
        flex-direction: column;
        gap: 2vw;
    }

    #toolbar{
        display: grid;
        grid-template-columns: repeat(4, minmax(5vw, 20vw));
        grid-gap: 2vw;
    }

    select{
        grid-column-end: span 2;
    }
}

@media screen and (max-width: 460px){
    nav{
        width: 80vw;
    }
}